@font-face {
    font-family: 'Ppneuemontreal';
    src: url('@/assets/fonts/ppneuemontreal-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ppneuemontreal';
    src: url('@/assets/fonts/ppneuemontreal-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ppneuemontreal';
    src: url('@/assets/fonts/ppneuemontreal-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Ppneuemontreal';
    src: url('@/assets/fonts/ppneuemontreal-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ppneuemontreal';
    src: url('@/assets/fonts/ppneuemontreal-semibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Ppneuemontreal';
    src: url('@/assets/fonts/ppneuemontreal-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  